.footer {
  margin-bottom: 60px;
}

.footer__text {
  color: #545454;
  margin: 0;
  padding: 0;
  font-family: Inter, arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
}

@media screen and (max-width: 620px) {
  .footer__text {
    padding-left: 19px;
    padding-right: 19px;
    font-size: 14px;
    line-height: 16.94px;
  }

  .footer {
    margin-bottom: 36px;
  }
}
