.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

/* -------------------------------------------------------------------------------- */

.profile__container {
  position: relative;
  margin-right: 30px;
}

.profile__avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.profile__avatar-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../images/pencil.svg") center no-repeat rgba(0, 0, 0, 0.8);
  border: 0;
  opacity: 0;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.profile__container:hover .profile__avatar-button {
  opacity: 1;
}

/* -------------------------------------------------------------------------------- */

.profile__information {
  display: grid;
  grid-template-areas:
    "name button"
    "description description";
  grid-gap: 7px 18px;
  align-items: center;
}

.profile__name {
  color: #fff;
  margin: 0;
  font-family: Inter, arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  grid-area: name;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}

.profile__edit-button {
  background: transparent url(../images/editbutton.svg) center no-repeat;
  background-size: 10px;
  border: solid 1px #fff;
  padding: 0;
  height: 24px;
  width: 24px;
  grid-area: button;
  transition: 0.2s ease-in-out;
  margin-right: 10px;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__description {
  color: #fff;
  font-family: Inter, arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
  margin: 0;
  grid-area: description;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}

.profile__add-button {
  background: transparent url(../images/addbutton.svg) center no-repeat;
  background-size: 22px;
  padding: 0;
  margin-left: auto;
  border: solid 2px #fff;
  width: 150px;
  height: 50px;
  transition: 0.2s ease-in-out;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
  }

  .profile__avatar {
    margin: 0;
  }

  .profile__information {
    width: 100%;
    justify-content: center;
    margin: 30px 19px 36px 19px;
  }

  .profile__name {
    font-size: 22px;
    line-height: 26.63px;
    font-weight: 500;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin: 0;
  }

  .profile__description {
    font-size: 14px;
    line-height: 16.94px;
    text-align: center;
    width: 100%;
  }

  .profile__information {
    display: grid;
    grid-template-areas:
      "name button"
      "description description";
    grid-gap: 7px 18px;
    align-items: center;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }

  .profile__container {
    position: relative;
  }
}
